:root {
  --flows-debug-bg-default: #ffffff;
  --flows-debug-bg-subtle: #f9fafc;
  --flows-debug-bg-hover: #ebeef3;

  --flows-debug-fg-default: #15181c;
  --flows-debug-fg-subtle: #6b727b;
  --flows-debug-border: 1px solid #d9dde2;
  --flows-debug-fg-success: #188635;
  --flows-debug-fg-error: #cf2320;
  --flows-debug-overlay: hsla(0, 0%, 100%, 0.2);
  --flows-debug-overlay-hover: hsla(0, 0%, 100%, 0.3);

  --flows-debug-small-shadow: 0px 0px 1px rgba(0, 0, 0, 0.06), 0px 4px 4px -1px rgba(0, 0, 0, 0.02);
  --flows-debug-shadow:
    0px 3px 8px rgba(0, 0, 0, 0.07), 0px 2px 5px rgba(0, 0, 0, 0.07),
    0px 1px 1px rgba(0, 0, 0, 0.07);

  --flows-debug-system-font:
    system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;
  --flows-debug-mono-font:
    ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New",
    monospace;
}

.dark {
  --flows-debug-bg-default: #15181c;
  --flows-debug-bg-subtle: #22262d;
  --flows-debug-bg-hover: #2b313a;

  --flows-debug-fg-default: #f9fafc;
  --flows-debug-fg-subtle: #8b929b;
  --flows-debug-border: 1px solid #353c46;
  --flows-debug-fg-success: #33a449;
  --flows-debug-fg-error: #ea6369;
  --flows-debug-overlay: hsla(0, 0%, 100%, 0.1);
  --flows-debug-overlay-hover: hsla(0, 0%, 100%, 0.2);

  --flows-debug-small-shadow:
    0px 4px 4px -1px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
  --flows-debug-shadow:
    0px 3px 8px rgba(0, 0, 0, 0.188), 0px 2px 5px rgba(0, 0, 0, 0.188),
    0px 1px 1px rgba(0, 0, 0, 0.188);
}

@keyframes flows-debug-fadeIn {
  from {
    opacity: 0;
    scale: 0.5;
  }
  80% {
    opacity: 1;
    scale: 1.2;
  }
  to {
    scale: 1;
  }
}

.flows-debug {
  position: fixed;
  z-index: 10000;
  color: var(--flows-debug-fg-default);
}
:where(.flows-debug) hr {
  border: none;
  border-top: var(--flows-debug-border);
}
:where(.flows-debug) a {
  color: inherit;
  text-decoration: none;
}
:where(.flows-debug) p {
  margin: 0;
}

.flows-debug-btn {
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 0;
  color: var(--flows-debug-fg-default);
}

.flows-debug-top-left {
  top: 16px;
  left: 16px;
}
.flows-debug-bottom-right {
  bottom: 16px;
  right: 16px;
}
.flows-debug-bottom-left {
  bottom: 16px;
  left: 16px;
}
.flows-debug-top-right {
  top: 16px;
  right: 16px;
}

.flows-debug-menu {
  background: var(--flows-debug-bg-default);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  width: 36px;
  border-radius: 99px;
  margin: 0;
  cursor: pointer;
  border: var(--flows-debug-border);
  box-shadow: var(--flows-debug-small-shadow);
  animation: flows-debug-fadeIn 120ms ease-out;
}
.flows-debug-menu-inset {
  color: var(--flows-debug-fg-default);
  transition: background 120ms ease-in-out;
  padding: 7px;
  border-radius: 99px;
  display: flex;
}
.flows-debug-menu:hover .flows-debug-menu-inset {
  background: var(--flows-debug-bg-hover);
}

.flows-debug-menu-error {
  background: var(--flows-debug-fg-error) !important;
  border: none;
}

.flows-debug-menu-inset-error {
  background: var(--flows-debug-overlay) !important;
  color: var(--flows-debug-bg-default) !important;
  &:hover {
    background: var(--flows-debug-overlay-hover) !important;
  }
}

.flows-debug-popover {
  position: absolute;
  margin-top: 8px;
  margin-bottom: 8px;
  background: var(--flows-debug-bg-default);
  border: var(--flows-debug-border);
  border-radius: 8px;
  box-shadow: var(--flows-debug-shadow);
  font-size: 13px;
  font-family: var(--flows-debug-system-font);
}
.flows-debug-popover-wide {
  width: 360px;
}

.flows-debug-popover-narrow {
  width: 260px;
}
.flows-debug-top-right .flows-debug-popover {
  right: 0;
  top: 100%;
}
.flows-debug-bottom-right .flows-debug-popover {
  right: 0;
  bottom: 100%;
}
.flows-debug-top-left .flows-debug-popover {
  left: 0;
  top: 100%;
}
.flows-debug-bottom-left .flows-debug-popover {
  left: 0;
  bottom: 100%;
}

.flows-debug-section-header {
  display: flex;
  gap: 4px;
  align-items: center;
  border-bottom: var(--flows-debug-border);
  padding: 12px 16px 12px 8px;
}

.flows-debug-section-label {
  font-weight: 600;
}

.flows-debug-section-content {
  padding: 16px;
}
.flows-debug-code-block {
  padding: 8px;
  border-radius: 4px;
  background: var(--flows-debug-bg-subtle);
  font-size: 12px;
  font-family: var(--flows-debug-mono-font);
  overflow-x: auto;
  max-height: 480px;
  border: var(--flows-debug-border);
  scrollbar-width: thin;
  scrollbar-color: var(--flows-debug-fg-subtle) transparent;
}

.flows-debug-inline-code {
  font-family: var(--flows-debug-mono-font);
  font-size: 12px;
}

.flows-debug-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  padding: 8px 6px;
  border-radius: 6px;
  transition: background 120ms ease-in-out;
}
.flows-debug-item-interactive {
  cursor: pointer;
  &:hover {
    background: var(--flows-debug-bg-hover);
  }
}

.flows-debug-item-info {
  font-size: 12px;
  color: var(--flows-debug-fg-subtle);
  margin-top: 2px;
}

.flows-debug-item-label {
  font-weight: 600;
}

.flows-debug-item-secondary {
  color: var(--flows-debug-fg-subtle);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.flows-debug-item-list {
  display: flex;
  flex-direction: column;
  padding: 6px;
}

.flows-debug-version {
  font-family: var(--flows-debug-mono-font);
  white-space: nowrap;
}

.flows-debug-info-line {
  margin-bottom: 4px;
}

.flows-debug-button-secondary {
  font-weight: 600;
  padding: 4px 8px;
  border-radius: 6px;
  color: var(--flows-debug-fg-default);
  background-color: var(--flows-debug-bg-subtle);
  border: var(--flows-debug-border);
  cursor: pointer;
  transition: all 80ms ease-in-out;
  flex-shrink: 0;
  &:hover {
    background-color: var(--flows-debug-bg-hover);
  }
  &:active {
    background-color: var(--flows-debug-bg-default);
  }
}

.flows-debug-section-close {
  padding: 4px;
  border-radius: 6px;
  width: 24px;
  height: 24px;

  &:hover {
    background-color: var(--flows-debug-bg-hover);
  }
}

.flows-debug-select-wrap {
  position: relative;
  svg {
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
  }
}
.flows-debug-select {
  all: unset;
  border-radius: 6px;
  color: var(--flows-debug-fg-default);
  background-color: var(--flows-debug-bg-subtle);
  border: var(--flows-debug-border);
  padding: 4px 8px;
  padding-right: 28px;
  cursor: pointer;
  transition: all 80ms ease-in-out;
  &:focus {
    outline: none;
  }
  &:hover {
    background-color: var(--flows-debug-bg-hover);
  }
}

.flows-debug-shortcut-list {
  display: flex;
  gap: 4px;
}

.flows-debug-shortcut {
  display: flex;
  align-items: center;
  font-size: 12px;
  color: var(--flows-debug-fg-default);
  background-color: var(--flows-debug-bg-subtle);
  min-width: 20px;
  height: 20px;
  padding: 0 4px;
  border-radius: 4px;
  justify-content: center;
  border: var(--flows-debug-border);
}

.flows-debug-validation-item {
  display: flex;
  align-items: center;
  gap: 4px;
  margin-bottom: 8px;
  &:last-child {
    margin-bottom: 0;
  }
}

.flows-debug-validation-valid {
  color: var(--flows-debug-fg-success);
  flex-shrink: 0;
}
.flows-debug-validation-invalid {
  color: var(--flows-debug-fg-error);
  flex-shrink: 0;
}

.flows-debug-print-button {
  margin-top: 8px;
}
